<div id="header">
  <div id="header-shadow">
     <div id="header-container">
        <div id="header-content">
           <div class="both-logos">
              <a href="https://audiencias.mininterior.gob.ar/">
              <img src="assets/images/logo-ministerio.svg" id="logo-ministerio">
              </a>
              <a target="_blank" href="http://www.mininterior.gob.ar/asuntospoliticos/reformainstitucional.php"> <img src="assets/images/logo-secretaria.svg" id="logo-subsecretaria"> </a>
           </div>
        </div>
     </div>
  </div>
  <div id="user-menu-container">
     <div id="user-menu">
        <a href="https://audiencias.mininterior.gob.ar/intranet/configuracion">
           <div class="user-menu-action" id="settings">
              Configuración
           </div>
        </a>
        <a href="https://audiencias.mininterior.gob.ar/intranet/ayuda">
           <div class="user-menu-action" id="help">
              Ayuda
           </div>
        </a>
        <a href="acerca_de.html">
           <div class="user-menu-action" id="about">
              Acerca de
           </div>
        </a>
        <a href="https://audiencias.mininterior.gob.ar/salir">
           <div class="user-menu-action" id="logout">
              Cerrar sesión
           </div>
        </a>
     </div>
  </div>
</div>
