<div [id]="idContainer" class="main-container">
  <div class="with-external-footer">
     <div class="search-container">
        <div class="search-background-filter">
           <div class="subheader-container">
              <div class="subheader-content">
                 <div class="subheader-links">
                    <a [routerLink]="['/acerca-de']">
                       <div class="subheader-link">
                          ACERCA DE
                       </div>
                    </a>
                    <a href="como_funciona.html">
                       <div class="subheader-link">
                          ¿CÓMO FUNCIONA?
                       </div>
                    </a>
                 </div>
              </div>
           </div>
           <app-search></app-search>
        </div>
     </div>
     <app-footer></app-footer>
     <router-outlet></router-outlet>
  </div>
</div>
<app-header></app-header>
<div id="error-bar" class="hidden">
  <div id="error-bar-spacer">
     <div id="error-bar-content">
        <img src="assets/images/icon-cancelar-blanco.svg" class="hide-error-bar">
        Ha ocurrido un error inesperado. Verifique que su conexión a internet esté funcionando y vuelva a intentar.
     </div>
  </div>
</div>
<div class="pika-single is-hidden is-bound" style="position: static; left: auto; top: auto;"></div>
<div class="pika-single is-hidden is-bound" style="position: static; left: auto; top: auto;"></div>
