<div class="static-section">
  <div class="static-content">
     <div class="path">
        <a [routerLink]="['']">Inicio</a> / Acerca de
     </div>
     <h1>Acerca del Registro de Audiencias de Gestión de Intereses</h1>
     <h2>¿Qué es el Registro Único de Audiencias de Gestión de Intereses? </h2>
     <p>El Registro Único de Audiencias de Gestión de Intereses es uno de los mecanismos fundamentales de acceso a la información pública y participación ciudadana de cumplimiento obligatorio para los funcionarios públicos, en virtud del <a href="http://servicios.infoleg.gob.ar/infolegInternet/anexos/90000-94999/90763/norma.htm" target="_blank">Decreto 1172/2003</a>.</p>
     <p>El Registro en sí es la plataforma electrónica en la que se centraliza el proceso de carga de las Audiencias de Gestión de Intereses de los sujetos obligados. Al mismo tiempo, la información volcada en el Registro es de acceso público para todas las personas.</p>
     <h2>¿Qué es una Audiencia de Gestión de Intereses?</h2>
     <p>Una audiencia de gestión de intereses es un encuentro con un sujeto obligado solicitado por personas físicas o jurídicas, públicas o privadas, en el que el solicitante <b>busca influir en las funciones y/o decisiones de cualquier organismo o funcionario que se encuentre bajo la jurisdicción del Poder Ejecutivo Nacional.</b></p>
     <h2>¿Quiénes deben registrar sus Audiencias de Gestión de Intereses? </h2>
     <p>Los sujetos obligados a registrar sus Audiencias de Gestión de Intereses son todos aquellos funcionarios públicos cuya categoría sea equivalente o superior a Director General:
     </p>
     <ul>
        <li> Presidente de la Nación; </li>
        <li> Vicepresidente de la Nación; </li>
        <li> Jefe de Gabinete de Ministros; </li>
        <li> Ministros; </li>
        <li> Secretarios y Subsecretarios; </li>
        <li> Directores Generales y Nacionales; </li>
        <li> Interventores Federales; </li>
        <li> Autoridades superiores de los organismos, entidades, empresas, sociedades, dependencias y todo otro ente que funcione bajo la jurisdicción del Poder Ejecutivo Nacional; </li>
        <li id="plataforma"> Agentes públicos con función ejecutiva cuya categoría sea equivalente o superior a Director General. </li>
     </ul>
     <p></p>
     <p>Más información en <a target="_blank" href="http://www.mininterior.gob.ar/asuntospoliticos/registro-audiencias-gestion-intereses.php"> mininterior.gob.ar</a>.
     </p>
     <h2>Plataforma</h2>
     <p>La <a target="_blank" href="http://www.argentina.gob.ar/secretaria-de-asuntos-politicos-e-institucionales">Secretaría de
        Asuntos Políticos</a> desarrolló un nuevo sistema de carga y visualización de las audiencias de gestión de intereses. Permitiendo la búsqueda y navegación de una manera más accesible, a la vez que facilita y simplifica el proceso de carga de audiencias a los sujetos obligados.
        <br>  <br>
        Por razones de compatibilidad entre la tecnología utilizada en el sistema anterior y en el nuevo, la forma en la que la información es mostrada es diferente. Por esto los resultados de búsqueda se muestran desagregados. Se ha debido respetar el formato de los datos del sistema anterior por el carácter de declaración jurada de la información consignada, no pudiéndose actualizar la información histórica con las potencialidades y mejoras del sistema nuevo.
     </p>
     <h2> Mejoras Incorporadas con el nuevo sistema</h2>
     <ul>
        <li>Mejor calidad de datos de las audiencias desde el inicio mismo de la carga.</li>
        <li>Un proceso de carga más ordenado y amigable para los operadores y sujetos obligados.</li>
        <li>Más y mejores herramientas para realizar consultas de audiencias al registro, incorporando filtros que permiten mayor complejidad en la visualización de la información.</li>
        <li>Mejores formas de extracción de datos del sistema a través de múltiples tipos de descarga y una API que facilita el consumo de los datos por parte de otros sistemas de forma automática.</li>
        <li>
           Integración de los datos generados con otros sistemas desde el momento de su generación:
           <ul>
              <li>SINTyS - Sistema de Identificación Nacional Tributario y Social.</li>
              <li>Georreferenciación de Google.</li>
           </ul>
        </li>
     </ul>
     <h2>Datos Abiertos</h2>
     <p>En línea con la misión de transparentar los actos de gobierno y fomentar la participación ciudadana, la
        Dirección Nacional de Relaciones con la Comunidad y Participación Ciudadana pone a disposición dentro del
        portal de <a target="_blank" href="http://www.datos.gob.ar/">Datos Abiertos</a>, datasets con las audiencias
        cargadas en el Registro Único de Audiencias de Gestión de Intereses.
     </p>
     <h2>Contacto</h2>
     <p>Para más información, comentarios y sugerencias, por favor comuníquese con la Dirección Nacional de Relaciones con la
        Comunidad y Participación Ciudadana:
     </p>
     <ul>
        <li> <a target="_blank" href="mailto:registroaudiencias@mininterior.gob.ar">registroaudiencias@mininterior.gob.ar</a> </li>
        <li> (011) 4339-0800 interno 71173 / 71655 / 71122</li>
     </ul>
     Para encontrar ayuda sobre el uso de la plataforma, haga clic <a href="https://audiencias.mininterior.gob.ar/como_funciona"> aquí</a>.
     <p></p>
  </div>
</div>
