
     <div id="external-footer">
      <div class="footer-content-wrapper">
         <div class="footer-content">
            <div class="footer-section first">
               <p class="social-links">
                  <a  href="https://www.facebook.com/MinInteriorAR" target="_blank">
                  <i class="fa fa-facebook" aria-hidden="true"></i>
                  </a>
                  <a href="https://www.instagram.com/ministeriodelinterior/" target="_blank">
                  <i class="fa fa-instagram" aria-hidden="true"></i>
                  </a>
                  <a href="https://www.flickr.com/photos/mininteriorar" target="_blank">
                  <i class="fa fa-flickr" aria-hidden="true"></i>
                  </a>
                  <a href="https://twitter.com/MinInteriorAR" target="_blank">
                  <i class="fa fa-twitter" aria-hidden="true"></i>
                  </a>
                  <a href="https://www.youtube.com/user/mininterior" target="_blank">
                  <i class="fa fa-youtube-play" aria-hidden="true"></i>
                  </a>
               </p>
               <img src="assets/images/logo-ministerio.svg" class="logo-ministerio">
               <p>Sitio desarrollado por <a href="https://www.argentina.gob.ar/modernizacion">Ministerio de Modernización</a>.</p>
               <p>Los contenidos de <a href="http://audiencias.mininterior.gob.ar/">audiencias.mininterior.gob.ar</a> están licenciados bajo <a href="https://creativecommons.org/licenses/by/2.5/ar/legalcode">Creative Commons Reconocimiento 2.5 Argentina License</a></p>
            </div>
            <div class="footer-section second">
               <p>
                  <a target="_blank" href="http://servicios.infoleg.gob.ar/infolegInternet/anexos/90000-94999/90763/norma.htm">Decreto</a>
               </p>
               <p>
                  <a href="acerca_de.html">Acerca de</a>
               </p>
               <p>
                  <a href="como_funciona.html">¿Cómo funciona?</a>
               </p>
            </div>
            <div class="footer-section third">
               <p>
                  Para más información, comentarios y sugerencias, por favor comuníquese con la Dirección Nacional de Relaciones con la Comunidad y Participación Ciudadana
               </p>
               <p>
                  <a href="mailto:registroaudiencias@mininterior.gob.ar">registroaudiencias@mininterior.gob.ar</a>
               </p>
               <p>
                  (011) 4339-0800 interno 71173 / 71655 / 71122
               </p>
            </div>
         </div>
      </div>
   </div>
